
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
</head>
<body>

<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a style="margin-right: -1800px" class="link-secondary" href="createRequest">Add article</a>
        </div>
        <div >
            <h2 style="margin-left: -170px" >Insider</h2>
        </div>
        <div class="col-4 pt-1">
            <a class="link-secondary" style="margin-left: 400px" href="auth">Log out</a>
        </div>
    </div>
</header>
<div class="row mb-2" >
    <th:div class="col-md-6" th:each="request : ${list}">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Blog</strong>
                <h3 class="mb-0" th:text="${request.name}"></h3>
                <p class="card-text mb-auto" th:text="${request.Description}"></p>

                <a class="stretched-link" th:href="'/request/'+${request.getName()}">Edit</a>
                <a class="stretched-link" th:href="'/delete/'+${request.getName()}">Delete</a>

            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            </div>
        </div>
    </th:div>

</div>
</body>
</html>

