<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Registration</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${registrationrequest}" method="post">
    <div><label> User Name : <input type="text"  th:field="*{login}"  name="login"/> </label></div>
    <div><label> Password: <input type="password"  th:field="*{password}" name="password"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>
</html>